@import '../node_modules/bulma/sass/utilities/initial-variables';

$primary: #111D5E;
$link: #B21F66;
$input-focus-border-color: #ffffff;
$dropdown-item-color: $primary;

@import '../node_modules/bulma/bulma.sass';

// prevents active navbar-menu on mobile from pushing content down
.navbar-menu.is-active {
  position: absolute;
  width: 100%;
}

.location-icon.focused {
  color: $primary;
}
.address-suggestion {
  padding: 1rem 0px;
}
.address-suggestion-focus {
  background-color: #2F3972;
  color: $white;
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
      display: none;
  }
}

@media screen and (min-width: 768px) {
  .address-search {
    width: 70%;
  }
}